go 1.22.4

use (
	./behavioral/10_visitor
	./behavioral/10_visitor/shapes
	./behavioral/1_chain_of_responsibility
	./behavioral/2_iterator
	./behavioral/3_memento
	./behavioral/4_state
	./behavioral/5_template_method
	./behavioral/6_command
	./behavioral/7_mediator
	./behavioral/8_observer
	./behavioral/9_strategy
	./creational/1_factory
	./creational/2_abstract_factory
	./creational/3_builder
	./creational/4_prototype
	./creational/5_singleton
	./structural/1_adapter
	./structural/2_bridge
	./structural/3_composite
	./structural/4_decorator
	./structural/5_facade
	./structural/6_flyweight
	./structural/7_proxy
)
