go 1.21.1

use (
	./creational/1_factory
	./creational/2_abstract_factory
	./creational/3_builder
	./creational/4_prototype
	./creational/5_singleton
	./structural/1_adapter
	./structural/2_bridge
	./structural/3_composite
	./structural/4_decorator
	./structural/5_facade
	./structural/6_flyweight
	./structural/7_proxy
)
